<template id="showModal">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #fff;
            translate: -50% -50%;
            padding: 2rem;
            border-radius: .5em;
            z-index: 2;
            max-width: 400px;
            min-width: 200px;
            width: 100%;
        }

        .modalbg {
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.524);
            z-index: 1;
        }

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        .header .title {
            font-size: 1.5rem;
        }

        .header .date {
            font-size: 1.2rem;
            color: gray;
        }

        .eventList {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap: 0.5rem;
        }
    </style>
    <div class="modal showModal">
        <div class="header">
            <div class="title" data-title>
                Show Modal
            </div>
            <div class="date" data-date>
                123
            </div>
        </div>
        <ul class="eventList" data-eventList>
        </ul>
    </div>
    <div class="modalbg" data-modalBg>
    </div>
</template>
<template id="addModal">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #fff;
            translate: -50% -50%;
            padding: 2rem;
            border-radius: .5em;
            z-index: 2;
            max-width: 400px;
            min-width: 200px;
            width: 100%;
        }

        .modalbg {
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.524);
            z-index: 1;
        }

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        .header .title {
            font-size: 1.5rem;
        }

        .header .date {
            font-size: 1.2rem;
            color: gray;
        }



        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .time-range {
            display: flex;
            gap: 1rem;
        }

        .time-range.disabled {
            opacity: 0.6;
            background-color: lightgray;
        }

        .time-range>* {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            flex-grow: 1;
        }


        .time-range input {
            font-size: .9rem;
            padding: 0.5em;
            border: 1px solid gray;
        }

        .colors {
            display: flex;
            gap: 0.1rem;
        }

        .colors .color {
            width: 30px;
            height: 30px;
            border-radius: .3em;
            opacity: 0.5;
        }

        .colors input {
            display: none;
        }

        .colors input:checked+label {
            opacity: 1;
        }


        .color.color-blue {
            background-color: lightblue;
        }

        .color.color-red {
            background-color: lightcoral;
        }

        .color.color-green {
            background-color: lightgreen;
        }

        button[type="submit"] {
            cursor: pointer;
            padding: 0.5em;
            background-color: rgba(144, 238, 144, 0.425);
            border: 1px solid green;
            color: green;
            border-radius: .3em;
            font-size: 1rem;
        }

        .name {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.1rem;
        }

        .name input {
            font-size: 1rem;
            padding: 0.5em;
            border: 1px solid gray;
        }
    </style>
    <div class="modal showModal">
        <div class="header">
            <div class="title" data-title>
                Show Modal
            </div>
            <div class="date" data-date>
                123
            </div>
        </div>
        <form>
            <div class="name">
                <label for="name">Name</label>
                <input type="text" id="name" data-name list="namesList">

                <datalist id="namesList">
                    <option value="event"></option>
                    <option value="eventik"></option>
                    <option value="bday"></option>
                    <option value="birthday"></option>
                    <option value="BD"></option>
                    <option value="New Year"></option>
                    <option value="Eve"></option>
                    <option value="Russia Day"></option>
                    <option value="Meeting"></option>
                    <option value="Work Meeting"></option>
                </datalist>
            </div>
            <div class="is-all-day">
                <input type="checkbox" name="" id="is-all-day" data-allDay>
                <label for="is-all-day">All Day?</label>
            </div>
            <div class="time-range" data-timeRange>
                <div class="start-time">
                    <label for="start-time">Start Time</label>
                    <input type="time" name="" id="start-time" min="00:00" max="23:59" data-startTime>
                </div>
                <div class="end-time">
                    <label for="end-time">End Time</label>
                    <input type="time" min="00:01" max="23:59" id="end-time" data-endTime>
                </div>
            </div>
            <span>Color</span>
            <div class="colors">
                <input type="radio" name="colors" id="color-1" checked>
                <label for="color-1" class="color color-blue"></label>

                <input type="radio" name="colors" id="color-2">
                <label for="color-2" class="color color-red"></label>

                <input type="radio" name="colors" id="color-3">
                <label for="color-3" class="color color-green"></label>
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class="modalbg" data-modalBg>
    </div>
</template>
<template id="editModal">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #fff;
            translate: -50% -50%;
            padding: 2rem;
            border-radius: .5em;
            z-index: 2;
            max-width: 400px;
            min-width: 200px;
            width: 100%;
        }

        .modalbg {
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.524);
            z-index: 1;
        }

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        .header .title {
            font-size: 1.5rem;
        }

        .header .date {
            font-size: 1.2rem;
            color: gray;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .time-range {
            display: flex;
            gap: 1rem;
        }

        .time-range.disabled {
            opacity: 0.6;
            background-color: lightgray;
        }

        .time-range>* {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            flex-grow: 1;
        }


        .time-range input {
            font-size: .9rem;
            padding: 0.5em;
            border: 1px solid gray;
        }

        .colors {
            display: flex;
            gap: 0.1rem;
        }

        .colors .color {
            width: 30px;
            height: 30px;
            border-radius: .3em;
            opacity: 0.5;
        }

        .colors input {
            display: none;
        }

        .colors input:checked+label {
            opacity: 1;
        }


        .color.color-blue {
            background-color: lightblue;
        }

        .color.color-red {
            background-color: lightcoral;
        }

        .color.color-green {
            background-color: lightgreen;
        }

        .buttons {
            display: flex;
            width: 100%;
            gap: 1rem;
        }

        .buttons>* {
            flex-grow: 1;
        }

        .btn {
            cursor: pointer;
            padding: 0.5em;
            border: 1px solid gray;
            border-radius: .3em;
            font-size: 1rem;
        }

        .btn--success {
            border-color: green;
            color: green;
            background-color: rgba(144, 238, 144, 0.425);
        }

        .btn--error {
            border-color: red;
            color: red;
            background-color: rgba(238, 144, 144, 0.425);
        }

        .name {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.1rem;
        }

        .name input {
            font-size: 1rem;
            padding: 0.5em;
            border: 1px solid gray;
        }
    </style>
    <div class="modal showModal">
        <div class="header">
            <div class="title" data-title>
                Show Modal
            </div>
            <div class="date" data-date>
                123
            </div>
        </div>
        <form>
            <div class="name">
                <label for="name">Name</label>
                <input type="text" id="name" data-name list="namesList">


                <datalist id="namesList">
                    <option value="event"></option>
                    <option value="eventik"></option>
                    <option value="bday"></option>
                    <option value="birthday"></option>
                    <option value="BD"></option>
                    <option value="New Year"></option>
                    <option value="Eve"></option>
                    <option value="Russia Day"></option>
                    <option value="Meeting"></option>
                    <option value="Work Meeting"></option>
                </datalist>
            </div>
            <div class="is-all-day">
                <input type="checkbox" name="" id="is-all-day" data-allDay>
                <label for="is-all-day">All Day?</label>
            </div>
            <div class="time-range" data-timeRange>
                <div class="start-time">
                    <label for="start-time">Start Time</label>
                    <input type="time" name="" id="start-time" min="00:00" max="23:59" data-startTime>
                </div>
                <div class="end-time">
                    <label for="end-time">End Time</label>
                    <input type="time" min="00:01" max="23:59" id="end-time" data-endTime>
                </div>
            </div>
            <div class="colors">
                <input type="radio" name="colors" id="color-1" checked>
                <label for="color-1" class="color color-blue"></label>

                <input type="radio" name="colors" id="color-2">
                <label for="color-2" class="color color-red"></label>

                <input type="radio" name="colors" id="color-3">
                <label for="color-3" class="color color-green"></label>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn--success">Update</button>
                <button type="submit" class="btn btn--error" deleteBtn>Delete</button>
            </div>
        </form>
    </div>
    <div class="modalbg" data-modalBg>
    </div>
</template>